## C ignore file types ##

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

## Project file types ##

*._ia
*.axf
*.bak
*.crf
*.d
*.dep
*.hex
*.home
*.htm
*.html
*.iex
*.jason
*.lnp
*.lst
*.map
*.plg
*.tra
*.uvopt
*.sct